{
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "eqeqeq": ["error"],
    "no-undef": ["error"],
    "quotes": ["warn", "single"],
    "semi": ["warn", "always"],
    "no-unused-vars": ["error"]
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}